<div
  class="h-dvh w-dvw bg-slate-900 flex justify-center items-center text-white"
>
  <div class="w-full h-full flex justify-center items-center gap-3 flex-col">
    @if (state() === "game") {
      <div
        class="rounded-full aspect-square border-4 border-slate-700 flex flex-col justify-center items-center p-3 size-52 gap-2"
      >
        <span class="text-4xl font-bold font-noto-arabic">
          {{ currentWord().word }}
        </span>
        <span>
          {{ remainingTime() }}
        </span>
      </div>
      <div
        class="flex justify-center items-center gap-8 font-noto-arabic text-xl"
      >
        <button
          (click)="submit('past')"
          class="min-w-32 py-1 rounded-lg border-2 border-slate-700 flex justify-center items-center hover:bg-slate-700"
        >
          ماضٍ
        </button>
        <button
          (click)="submit('future')"
          class="min-w-32 py-1 rounded-lg border-2 border-slate-700 flex justify-center items-center hover:bg-slate-700"
        >
          مضارع
        </button>
      </div>
    } @else {
      <div class="flex flex-col justify-center items-center gap-3">
        <span>Your score is:- </span>
        <span class="text-4xl font-bold font-noto-arabic">
          {{ score }}
        </span>
      </div>
    }
  </div>
</div>
