@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  height: 100dvh;
  width: 100dvw;
}

@font-face {
  font-family: "Noto Naskh Arabic";
  src: url("./assets/fonts/arabic/NotoNaskhArabic-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Naskh Arabic";
  src: url("./assets/fonts/arabic/NotoNaskhArabic-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Naskh Arabic";
  src: url("./assets/fonts/arabic/NotoNaskhArabic-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Naskh Arabic";
  src: url("./assets/fonts/arabic/NotoNaskhArabic-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
